# Ignore credentials file
credentials.conf

# Ignore all log files
*.log

# Ignore backup files
*~

# Ignore other unnecessary files
*.bak
*.tmp
*.swp

# Ignore specific system files that might be generated
.DS_Store
Thumbs.db

